# キャッシュディレクトリ
cache/

# Goビルド成果物
*.exe
*.exe~
*.dll
*.so
*.dylib

# テスト関連
*.test
*.out

# IDE設定（個人設定のみ）
.vscode/launch.json

# Ignore user-specific settings
.vscode/settings.json

# Include project-specific settings
!.vscode/settings.json

# Ignore other common files and directories
*.log
*.tmp
*.swp
*.bak
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.code-workspace
.DS_Store
Thumbs.db